apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "portainer.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    io.portainer.kubernetes.application.stack: portainer
    {{- include "portainer.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: "Recreate"
  selector:
    matchLabels:
      {{- include "portainer.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "portainer.selectorLabels" . | nindent 8 }}
    spec:
      nodeSelector: {{- toYaml .Values.nodeSelector | nindent 8 -}}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "portainer.serviceAccountName" . }}
      volumes:
        {{- if .Values.persistence.enabled }}
        - name: "data"
          persistentVolumeClaim:
            claimName: {{ template "portainer.pvcName" . }}
        {{- end }}
        {{- if .Values.tls.existingSecret }}
        - name: certs
          secret:
            secretName: {{ .Values.tls.existingSecret }}
        {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- if .Values.enterpriseEdition.enabled }}
          image: "{{ .Values.enterpriseEdition.image.repository }}:{{ .Values.enterpriseEdition.image.tag }}"
          imagePullPolicy: {{ .Values.enterpriseEdition.image.pullPolicy }}
          {{- else }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- end }}
          args: 
          {{- if .Values.tls.force }}
          - --http-disabled
          {{- end }}
          {{- if .Values.tls.existingSecret }}
          - --sslcert=/certs/tls.crt
          - --sslkey=/certs/tls.key
          {{- end }}
          {{- if (and (eq .Values.service.type "NodePort") (not (empty .Values.service.edgeNodePort))) }}
          - '--tunnel-port={{ .Values.service.edgeNodePort }}'
          {{- end }}
          {{- if (not (empty .Values.feature.flags)) }}
          - '{{ .Values.feature.flags }}'
          {{- end }}
          volumeMounts:
            {{- if .Values.persistence.enabled }}
            - name: data
              mountPath: /data
            {{- end }}
            {{- if .Values.tls.existingSecret }}
            - name: certs
              mountPath: /certs
              readOnly: true
            {{- end }}
          ports:
            {{- if not .Values.tls.force }}
            - name: http
              containerPort: 9000
              protocol: TCP
            {{- end }}
            - name: https
              containerPort: 9443
              protocol: TCP
            - name: tcp-edge
              containerPort: 8000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              {{- if .Values.tls.force }}
              port: 9443
              scheme: HTTPS
              {{- else }}
                {{- if .Values.enterpriseEdition.enabled }}
                  {{- if regexMatch "^[0-9]+\\.[0-9]+\\.[0-9]+$" .Values.enterpriseEdition.image.tag }}
                    {{- if eq (semver .Values.enterpriseEdition.image.tag | (semver "2.7.0").Compare) -1 }}
              port: 9443
              scheme: HTTPS
                    {{- else }}
              port: 9000
              scheme: HTTP
                    {{- end }}
                  {{- else }}
                    {{- if eq .Values.enterpriseEdition.image.tag "latest" }}
              port: 9443
              scheme: HTTPS
                    {{- else }}
              port: 9000
              scheme: HTTP
                    {{- end }}
                  {{- end}}
                {{- else }}
                  {{- if regexMatch "^[0-9]+\\.[0-9]+\\.[0-9]+$" .Values.image.tag }}
                    {{- if eq (semver .Values.image.tag | (semver "2.6.0").Compare) -1 }}
              port: 9443
              scheme: HTTPS
                    {{- else }}
              port: 9000
              scheme: HTTP
                    {{- end}}
                  {{- else }}
                    {{- if eq .Values.image.tag "latest" }}
              port: 9443
              scheme: HTTPS
                    {{- else }}
              port: 9000
              scheme: HTTP
                    {{- end }}
                  {{- end }}
                {{- end }}
              {{- end }}
          readinessProbe:
            httpGet:
              path: /
              {{- if .Values.tls.force }}
              port: 9443
              scheme: HTTPS
              {{- else }}
                {{- if .Values.enterpriseEdition.enabled }}
                  {{- if regexMatch "^[0-9]+\\.[0-9]+\\.[0-9]+$" .Values.enterpriseEdition.image.tag }}
                    {{- if eq (semver .Values.enterpriseEdition.image.tag | (semver "2.7.0").Compare) -1 }}
              port: 9443
              scheme: HTTPS
                    {{- else }}
              port: 9000
              scheme: HTTP
                    {{- end }}
                  {{- else }}
                    {{- if eq .Values.enterpriseEdition.image.tag "latest" }}
              port: 9443
              scheme: HTTPS
                    {{- else }}
              port: 9000
              scheme: HTTP
                    {{- end }}
                  {{- end}}
                {{- else }}
                  {{- if regexMatch "^[0-9]+\\.[0-9]+\\.[0-9]+$" .Values.image.tag }}
                    {{- if eq (semver .Values.image.tag | (semver "2.6.0").Compare) -1 }}
              port: 9443
              scheme: HTTPS
                    {{- else }}
              port: 9000
              scheme: HTTP
                    {{- end}}
                  {{- else }}
                    {{- if eq .Values.image.tag "latest" }}
              port: 9443
              scheme: HTTPS
                    {{- else }}
              port: 9000
              scheme: HTTP
                    {{- end }}
                  {{- end }}
                {{- end }}
              {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
