name: Lint and Test Charts

on: 
  # push:
  #   paths:
  #     - 'charts/**' 
  #     - '.github/**'
  pull_request:
    branches:
      - master
  workflow_dispatch:

env:
  KUBE_SCORE_VERSION: 1.10.0
  HELM_VERSION: v3.10.1

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          
      - name: Set up Helm
        uses: azure/setup-helm@v4.2.0
        with:
          version: ${{ env.HELM_VERSION }}

      - name: Set up kube-score
        run: |
          wget https://github.com/zegl/kube-score/releases/download/v${{ env.KUBE_SCORE_VERSION }}/kube-score_${{ env.KUBE_SCORE_VERSION }}_linux_amd64 -O kube-score
          chmod 755 kube-score

      - name: Kube-score generated manifests
        run: helm template charts/* | ./kube-score score -
              --ignore-test pod-networkpolicy
              --ignore-test deployment-has-poddisruptionbudget
              --ignore-test deployment-has-host-podantiaffinity
              --ignore-test container-security-context
              --ignore-test container-resources
              --ignore-test pod-probes
              --ignore-test container-image-tag
              --enable-optional-test container-security-context-privileged

      # python is a requirement for the chart-testing action below (supports yamllint among other tests)
      - uses: actions/setup-python@v5.3.0
        with:
          python-version: 3.13.1

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.1
        with:
          version: v3.10.1

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config .ci/ct-config.yaml)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: ct lint --config .ci/ct-config.yaml

      # Refer to https://github.com/kubernetes-sigs/kind/releases when updating the node_images
      - name: Create 1.32 kind cluster
        uses: helm/kind-action@v1.12.0
        with:
          node_image: kindest/node:v1.32.11@sha256:5fc52d52a7b9574015299724bd68f183702956aa4a2116ae75a63cb574b35af8
          cluster_name: kubernetes-1.32
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install) against 1.32
        run: ct install --config .ci/ct-config.yaml

      - name: Create 1.33 kind cluster
        uses: helm/kind-action@v1.12.0
        with:
          node_image: kindest/node:v1.33.7@sha256:d26ef333bdb2cbe9862a0f7c3803ecc7b4303d8cea8e814b481b09949d353040
          cluster_name: kubernetes-1.33
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install) against 1.33
        run: ct install --config .ci/ct-config.yaml

      - name: Create 1.34 kind cluster
        uses: helm/kind-action@v1.12.0
        with:
          node_image: kindest/node:v1.34.3@sha256:08497ee19eace7b4b5348db5c6a1591d7752b164530a36f855cb0f2bdcbadd48
          cluster_name: kubernetes-1.34
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install) against 1.34
        run: ct install --config .ci/ct-config.yaml

      - name: Create 1.35 kind cluster
        uses: helm/kind-action@v1.12.0
        with:
          node_image: kindest/node:v1.35.0@sha256:452d707d4862f52530247495d180205e029056831160e22870e37e3f6c1ac31f
          cluster_name: kubernetes-1.35
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install) against 1.35
        run: ct install --config .ci/ct-config.yaml